sigma.pdf
sigma.toc
sigma.aux
sigma.log
sigma.out
sigma.bbl
sigma.blg
sigma.fls
sigma.synctex.gz
sigma.fdb_latexmk

*.log
test-out/

# sbt specific
.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ Idea 
.idea/

# file system

**/.DS_Store
